body.lock-scrolling {
    overflow-y: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body.primary-navigation-open {
    #masthead .primary-navigation {
        height: calc(100vh - 128px);
    }
}

#masthead {
    position: relative;
    z-index: 99;
    opacity: 0;

    // repeated this from themes, did it to reduce code overall, but the speed may need to be updated. Maybe make this come in a bit quicker than the rest?
    animation-name: fade-in;
    animation-duration: .1s;
    animation-delay: .2s;
    animation-timing-function: cubic-bezier(1, -.02, 1, 1);
    animation-fill-mode: forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .inner {
        max-width: var(--max-width-site-wide);
    }

    .masthead-control {
        position: relative;
        padding: 1.8rem 0;
        border-bottom: solid 1px var(--gray);
        background: var(--white);

        .inner {
            position: relative;
            display: flex;
            justify-content: space-between;
        }
    }

    .site-logo {
        position: relative;

        a {
            position: relative;
            display: block;
        }

        img {
            display: block;
        }
    }

    @media screen and (max-width: 600px) {
        .site-logo {
            max-width: 170px;
        }
    }

    #primary-mobile-menu {
        margin: 0;

        @media screen and (max-width: 599px) {
            width: 51px;
            height: 51px;
        }
    }

    .primary-navigation {
        position: absolute;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 0;
        top: 100%;
        left: 0;
        background: var(--white);
        transition: all var(--transition);

        .outer {
            position: relative;
            overflow-y: auto;
            height: 100%;
            max-height: 100%;
        }
    }

    .split-menu-label {
        position: relative;

        a {
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }

        span {
            position: relative;
            display: block;
        }

        .pleft {
            width: 84px;
        }

        .pright.address {
            line-height: 1.4em;
            padding-top: 3px;
        }
    }
}

body.page-template-template-flex-page-helpline {
   #masthead {
        .masthead-control {
            background: var(--helpline-blue);

            .large-button {
                border: 1px solid var(--white);
                background: transparent;
                color: var(--white);

                .dropdown-icon .line,
                &:hover .dropdown-icon .line {
                    background: var(--white);
                }
            }
        }
    }
}
